body {
  background-image: url(../img/img-background.png);
  animation: movimientoFondo 10s linear infinite;
}
@keyframes movimientoFondo {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.titulo-game {
  font-family: "Pixelify Sans", cursive;
  opacity: 75%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: aliceblue;
  animation: flash 1.3s infinite alternate;
}

@keyframes flash {
  0% {
    text-shadow: 0 0 3px #f01482;
  }
  25% {
    text-shadow: 0 0 0 transparent;
  }
  50% {
    text-shadow: 0 0 0 transparent;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}

.puntos {
  font-family: "Pixelify Sans", cursive;
  color: #5dde32;
  position: absolute;
  font-size: 2rem;
  transform: rotate(-90deg); /* Rota el texto 90 grados en sentido horario */
  transform-origin: right bottom;
  right: 0;
  bottom: 9.4rem;
  white-space: nowrap;
  animation: a 1s infinite alternate;
}

@keyframes a {
  0% {
    text-shadow: 0 0 5px aliceblue;
  }
  50% {
    text-shadow: 0 0 0 transparent;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}
.store {
  font-family: "Pixelify Sans", cursive;
  color: #ff0095;
  text-shadow: 1px 2px 4px aliceblue;
  position: absolute;
  font-size: 2rem;
  left: 0;
  bottom: 5rem;
  transform-origin: bottom;
  transform: rotate(-90deg);
}

#game {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  animation: cambioColor 10s linear infinite;
}

@keyframes cambioColor {
  0% {
    background-color: #f90d9a; /* Color de fondo inicial */
  }
  50% {
    background-color: #144bff; /* Color de fondo a la mitad de la animación */
  }
  100% {
    background-color: #f01482; /* Color de fondo final (vuelve al color inicial) */
  }
}

#startButton {
  width: 5rem;
  height: 1.5rem;
  background-color: #5dde32;
  color: aliceblue;
  font-family: "Pixelify Sans", cursive;
  font-size: 0.8rem;
  position: absolute;
  top: 5.5rem;
  right: 3.9rem;
}
#startButton:hover {
  background-color: #ff0095;
  color: #5dde32;
  cursor: pointer;
}

/* Características del campo de juego*/
.campo {
  width: 9rem;
  height: 1rem;
  background-color: #5dde32;
  clip-path: ellipse(30% 40% at 50% 40%);
  margin-top: 5rem;
  margin-bottom: 1rem;
  justify-content: center;
  width: calc(25% 0);
  justify-content: center;
}

.kuaiKuai {
  background: url(../img/kuaiKazo-malo1.png) bottom center no-repeat;
  background-size: 30%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.campo.up .kuaiKuai {
  top: 0;
}
